Web References/com.somee.albumonline2023/AlbumSW.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddImg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="img" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="tipo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddImgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddImgResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_photos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_photosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_photosResult" type="tns:ArrayOfSWPhoto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSWPhoto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SWPhoto" nillable="true" type="tns:SWPhoto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SWPhoto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Img" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AspUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AspUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AspUserLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAspNetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAspNetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addAspNetUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddImgSoapIn">
    <wsdl:part name="parameters" element="tns:AddImg" />
  </wsdl:message>
  <wsdl:message name="AddImgSoapOut">
    <wsdl:part name="parameters" element="tns:AddImgResponse" />
  </wsdl:message>
  <wsdl:message name="get_photosSoapIn">
    <wsdl:part name="parameters" element="tns:get_photos" />
  </wsdl:message>
  <wsdl:message name="get_photosSoapOut">
    <wsdl:part name="parameters" element="tns:get_photosResponse" />
  </wsdl:message>
  <wsdl:message name="AspUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:AspUserLogin" />
  </wsdl:message>
  <wsdl:message name="AspUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:AspUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="addAspNetUserSoapIn">
    <wsdl:part name="parameters" element="tns:addAspNetUser" />
  </wsdl:message>
  <wsdl:message name="addAspNetUserSoapOut">
    <wsdl:part name="parameters" element="tns:addAspNetUserResponse" />
  </wsdl:message>
  <wsdl:portType name="AlbumSWSoap">
    <wsdl:operation name="AddImg">
      <wsdl:input message="tns:AddImgSoapIn" />
      <wsdl:output message="tns:AddImgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_photos">
      <wsdl:input message="tns:get_photosSoapIn" />
      <wsdl:output message="tns:get_photosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AspUserLogin">
      <wsdl:input message="tns:AspUserLoginSoapIn" />
      <wsdl:output message="tns:AspUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addAspNetUser">
      <wsdl:input message="tns:addAspNetUserSoapIn" />
      <wsdl:output message="tns:addAspNetUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlbumSWSoap" type="tns:AlbumSWSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddImg">
      <soap:operation soapAction="http://tempuri.org/AddImg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_photos">
      <soap:operation soapAction="http://tempuri.org/get_photos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AspUserLogin">
      <soap:operation soapAction="http://tempuri.org/AspUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAspNetUser">
      <soap:operation soapAction="http://tempuri.org/addAspNetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlbumSWSoap12" type="tns:AlbumSWSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddImg">
      <soap12:operation soapAction="http://tempuri.org/AddImg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_photos">
      <soap12:operation soapAction="http://tempuri.org/get_photos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AspUserLogin">
      <soap12:operation soapAction="http://tempuri.org/AspUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAspNetUser">
      <soap12:operation soapAction="http://tempuri.org/addAspNetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlbumSW">
    <wsdl:port name="AlbumSWSoap" binding="tns:AlbumSWSoap">
      <soap:address location="http://albumonline2023.somee.com/AlbumOnline/AlbumSW.asmx" />
    </wsdl:port>
    <wsdl:port name="AlbumSWSoap12" binding="tns:AlbumSWSoap12">
      <soap12:address location="http://albumonline2023.somee.com/AlbumOnline/AlbumSW.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>